{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Comentarios{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <input name="comment">
    <input type="submit" value="enviar">
  </form>
  <table>
    <thead>
      <tr>
        <th>Texto</th>
        <th>IP</th>
        <th>Hora</th>
      </tr>
    </thead>
    <tbody>
      {% for comment in comments %}
        <tr>
          <td>{{ comment.text }}</td>
          <td>{{ comment.client_ip }}</td>
          <td>{{ comment.created_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}